<th:block th:fragment="Color-choose-modal">
    <div class="modal fade" id="ColorGuideModal" tabindex="-1" role="dialog" aria-labelledby="ColorGuideModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header"><a class="go-back-Color-choose text-btn" data-toggle="modal" href="#modal-Color-Choose" data-dismiss="modal"><i class="fas fa-chevron-left"></i> Trở lại</a>
                    <h5 class="modal-title" id="ColorGuideModalTitle">Bảng Color</h5>
                </div>
                <div class="modal-body">
                    <table class="side-guide-table table">
                        <thead>
                        <tr>
                            <th>CM</th>
                            <th>VN/EU</th>
                            <th>US</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>23.7</td>
                            <td>38.5</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>23.7</td>
                            <td>38.5</td>
                            <td>6</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-Color-Choose" tabindex="-1" role="dialog" aria-labelledby="ColorChooseModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ColorChooseModalTitle">Chọn Color</h5><a class="Color-guide text-btn" data-toggle="modal" href="#ColorGuideModal" data-dismiss="modal">Bảng Color</a>
                </div>
                <div class="modal-body">
                    <div class="Color content">
                        <div class="select-filter"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
